<form [formGroup]="signinForm" (ngSubmit)="onSigninFormSubmit()">
  <h1>Sign In</h1>
  <div class="form-group">
    <label>Email Address</label>
    <input class="form-control" formControlName="email" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <div class="alert alert-danger" *ngIf="errors.length">
    <h4>Oooops...</h4>
    <ul class="my-0">
      <li *ngFor="let err of errors">{{ err.message }}</li>
    </ul>
  </div>
  <button class="btn btn-primary" [disabled]="!signinForm.valid">
    Sign In
  </button>
</form>
